[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el.git
[submodule "all-the-icons-completion"]
	path = lib/all-the-icons-completion
	url = https://github.com/iyefrat/all-the-icons-completion.git
[submodule "app-launcher"]
	path = lib/app-launcher
	url = https://github.com/SebastienWae/app-launcher.git
[submodule "async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy.git
[submodule "beancount"]
	path = lib/beancount
	url = https://github.com/beancount/beancount-mode.git
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
[submodule "boxy"]
	path = lib/boxy
	url = https://gitlab.com/tygrdev/boxy.git
[submodule "boxy-imenu"]
	path = lib/boxy-imenu
	url = https://gitlab.com/tygrdev/boxy-imenu.git
[submodule "cape"]
	path = lib/cape
	url = https://github.com/minad/cape.git
[submodule "citar"]
	path = lib/citar
	url = https://github.com/emacs-citar/citar.git
[submodule "citar-org-roam"]
	path = lib/citar-org-roam
	url = https://github.com/emacs-citar/citar-org-roam.git
[submodule "citeproc"]
	path = lib/citeproc
	url = https://github.com/andras-simonyi/citeproc-el.git
[submodule "citre"]
	path = lib/citre
	url = https://github.com/universal-ctags/citre.git
[submodule "closql"]
	path = lib/closql
	url = https://github.com/emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = https://github.com/emacs-straight/compat
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult.git
[submodule "consult-dash"]
	path = lib/consult-dash
	url = https://codeberg.org/ravi/consult-dash.git
[submodule "consult-eglot"]
	path = lib/consult-eglot
	url = https://github.com/mohkale/consult-eglot.git
[submodule "consult-org-roam"]
	path = lib/consult-org-roam
	url = https://github.com/jgru/consult-org-roam.git
[submodule "corfu"]
	path = lib/corfu
	url = https://github.com/minad/corfu.git
[submodule "corfu-doc"]
	path = lib/corfu-doc
	url = https://github.com/galeo/corfu-doc.git
[submodule "corfu-english-helper"]
	path = lib/corfu-english-helper
	url = https://github.com/manateelazycat/corfu-english-helper.git
[submodule "darkroom"]
	path = lib/darkroom
	url = https://github.com/joaotavora/darkroom.git
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el.git
[submodule "dash-docs"]
	path = lib/dash-docs
	url = https://github.com/dash-docs-el/dash-docs.git
    no-byte-compile = use-package-dash-docs.el
[submodule "dashboard"]
	path = lib/dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl.git
[submodule "diredfl"]
	path = lib/diredfl
	url = https://github.com/purcell/diredfl.git
[submodule "dirvish"]
	path = lib/dirvish
	url = https://github.com/alexluigit/dirvish.git
    load-path = .
    load-path = extensions
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = https://github.com/seagle0128/doom-modeline.git
[submodule "doom-themes"]
	path = lib/doom-themes
	url = https://github.com/doomemacs/themes.git
    load-path = .
    load-path = extensions
[submodule "eaf"]
	path = lib/eaf
	url = https://github.com/emacs-eaf/emacs-application-framework.git
    load-path = .
    load-path = core
    load-path = extension
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = https://github.com/Fanael/edit-indirect.git
[submodule "eglot"]
	path = lib/eglot
	url = https://github.com/joaotavora/eglot.git
[submodule "eglot-ltex"]
	path = lib/eglot-ltex
	url = https://github.com/emacs-languagetool/eglot-ltex.git
[submodule "elfeed"]
	path = lib/elfeed
	url = https://github.com/skeeto/elfeed.git
[submodule "elisp-demos"]
	path = lib/elisp-demos
	url = https://github.com/xuchunyang/elisp-demos.git
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = https://github.com/Wilfred/elisp-refs.git
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "emacsql-sqlite-builtin"]
	path = lib/emacsql-sqlite-builtin
	url = https://github.com/emacscollective/emacsql-sqlite-builtin.git
    no-byte-compile = emacsql-sqlite-module.el
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark.git
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg.git
[submodule "epkg-marginalia"]
	path = lib/epkg-marginalia
	url = https://github.com/emacscollective/epkg-marginalia.git
[submodule "esxml"]
	path = lib/esxml
	url = https://github.com/tali713/esxml.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el.git
[submodule "format-all"]
	path = lib/format-all
	url = https://github.com/lassik/emacs-format-all-the-code.git
[submodule "gcmh"]
	path = lib/gcmh
	url = https://github.com/emacsmirror/gcmh.git
[submodule "go-translate"]
	path = lib/go-translate
	url = https://github.com/lorniu/go-translate.git
[submodule "grammatical-edit"]
	path = lib/grammatical-edit
	url = https://github.com/manateelazycat/grammatical-edit.git
[submodule "graphviz-dot-mode"]
	path = lib/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode.git
    no-byte-compile = company-graphviz-dot.el
[submodule "helpful"]
	path = lib/helpful
	url = https://github.com/Wilfred/helpful.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = https://github.com/tarsius/hl-todo.git
[submodule "imenu-list"]
	path = lib/imenu-list
	url = https://github.com/bmag/imenu-list.git
[submodule "inheritenv"]
	path = lib/inheritenv
	url = https://github.com/purcell/inheritenv.git
[submodule "insert-translated-name"]
	path = lib/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name.git
[submodule "kv"]
	path = lib/kv
	url = https://github.com/nicferrier/emacs-kv.git
[submodule "language-id"]
	path = lib/language-id
	url = https://github.com/lassik/emacs-language-id.git
[submodule "lsp-bridge"]
	path = lib/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
    load-path = .
    load-path = acm
    no-byte-compile = acm/acm-backend-tempel.el
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit.git
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "meow"]
	path = lib/meow
	url = https://github.com/meow-edit/meow.git
[submodule "mixed-pitch"]
	path = lib/mixed-pitch
	url = https://github.com/emacsmirror/mixed-pitch.git
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering.git
[submodule "nov"]
	path = lib/nov
	url = https://depp.brause.cc/nov.el.git
[submodule "nowisemacs-base"]
	path = lib/nowisemacs-base
	url = https://github.com/nowislewis/nowisemacs-base.git
[submodule "oj"]
	path = lib/oj
	url = https://github.com/conao3/oj.el.git
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "org-appear"]
	path = lib/org-appear
	url = https://github.com/awth13/org-appear.git
[submodule "org-download"]
	path = lib/org-download
	url = https://github.com/abo-abo/org-download.git
[submodule "org-modern"]
	path = lib/org-modern
	url = https://github.com/minad/org-modern.git
[submodule "org-noter"]
	path = lib/org-noter
	url = https://github.com/weirdNox/org-noter.git
[submodule "org-present"]
	path = lib/org-present
	url = https://github.com/rlister/org-present.git
[submodule "org-roam"]
	path = lib/org-roam
	url = https://github.com/org-roam/org-roam.git
    load-path = .
    load-path = extensions
[submodule "org-roam-agenda"]
	path = lib/org-roam-agenda
	url = https://github.com/nowislewis/org-roam-agenda.git
[submodule "org-roam-ui"]
	path = lib/org-roam-ui
	url = https://github.com/org-roam/org-roam-ui.git
[submodule "ox-hugo"]
	path = lib/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo.git
[submodule "parsebib"]
	path = lib/parsebib
	url = https://github.com/joostkremers/parsebib.git
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = https://github.com/vedang/pdf-tools.git
[submodule "perspective"]
	path = lib/perspective
	url = https://github.com/nex3/perspective-el.git
[submodule "popper"]
	path = lib/popper
	url = https://github.com/karthink/popper.git
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "pyim"]
	path = lib/pyim
	url = https://github.com/tumashu/pyim.git
[submodule "pyim-tsinghua-dict"]
	path = lib/pyim-tsinghua-dict
	url = https://github.com/redguardtoo/pyim-tsinghua-dict.git
[submodule "queue"]
	path = lib/queue
	url = https://github.com/emacsmirror/queue.git
[submodule "quickrun"]
	path = lib/quickrun
	url = https://github.com/emacsorphanage/quickrun.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "rg"]
	path = lib/rg
	url = https://github.com/dajva/rg.el.git
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el.git
[submodule "separedit"]
	path = lib/separedit
	url = https://github.com/twlz0ne/separedit.el.git
[submodule "setup"]
	path = lib/setup
	url = https://git.sr.ht/~pkal/setup
[submodule "shrink-path"]
	path = lib/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el.git
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = https://github.com/skeeto/emacs-web-server.git
[submodule "string-inflection"]
	path = lib/string-inflection
	url = https://github.com/akicho8/string-inflection.git
[submodule "super-save"]
	path = lib/super-save
	url = https://github.com/bbatsov/super-save.git
[submodule "symbol-overlay"]
	path = lib/symbol-overlay
	url = https://github.com/wolray/symbol-overlay.git
[submodule "tablist"]
	path = lib/tablist
	url = https://github.com/politza/tablist.git
[submodule "toc-org"]
	path = lib/toc-org
	url = https://github.com/snosov1/toc-org.git
[submodule "tomelr"]
	path = lib/tomelr
	url = https://github.com/kaushalmodi/tomelr.git
[submodule "tree-sitter"]
	path = lib/tree-sitter
	url = https://github.com/emacs-tree-sitter/elisp-tree-sitter.git
    load-path = core
    load-path = lisp
    no-byte-compile = core/tsc-dyn.dylib
[submodule "tree-sitter-langs"]
	path = lib/tree-sitter-langs
	url = https://github.com/emacs-tree-sitter/tree-sitter-langs.git
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico.git
    load-path = .
    load-path = extensions
[submodule "vterm"]
	path = lib/vterm
	url = https://github.com/akermu/emacs-libvterm.git
[submodule "vterm-toggle"]
	path = lib/vterm-toggle
	url = https://github.com/jixiuf/vterm-toggle.git
[submodule "vundo"]
	path = lib/vundo
	url = https://github.com/casouri/vundo.git
[submodule "wakatime-mode"]
	path = lib/wakatime-mode
	url = https://github.com/wakatime/wakatime-mode.git
[submodule "websocket"]
	path = lib/websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "wgrep"]
	path = lib/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
    no-byte-compile = wgrep-subtest.el
    no-byte-compile = wgrep-ag.el
[submodule "which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "ws-butler"]
	path = lib/ws-butler
	url = https://github.com/lewang/ws-butler.git
[submodule "xr"]
	path = lib/xr
	url = https://github.com/mattiase/xr.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
