[submodule "ag"]
	path = lib/ag
	url = https://github.com/Wilfred/ag.el.git
[submodule "alert"]
	path = lib/alert
	url = https://github.com/jwiegley/alert.git
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el.git
[submodule "all-the-icons-completion"]
	path = lib/all-the-icons-completion
	url = https://github.com/iyefrat/all-the-icons-completion.git
[submodule "async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy.git
[submodule "aweshell"]
	path = lib/aweshell
	url = https://github.com/manateelazycat/aweshell
[submodule "beancount-mode"]
	path = lib/beancount-mode
	url = https://github.com/beancount/beancount-mode
[submodule "blamer"]
	path = lib/blamer
	url = https://github.com/Artawower/blamer.el.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "cape"]
	path = lib/cape
	url = https://github.com/minad/cape.git
[submodule "citar"]
	path = lib/citar
	url = https://github.com/bdarcus/citar.git
[submodule "citeproc"]
	path = lib/citeproc
	url = https://github.com/andras-simonyi/citeproc-el.git
[submodule "citre"]
	path = lib/citre
	url = https://github.com/universal-ctags/citre.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult.git
[submodule "corfu"]
	path = lib/corfu
	url = https://github.com/minad/corfu.git
[submodule "corfu-doc"]
	path = lib/corfu-doc
	url = https://github.com/galeo/corfu-doc.git
[submodule "darkroom"]
	path = lib/darkroom
	url = https://github.com/joaotavora/darkroom.git
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el.git
[submodule "dashboard"]
	path = lib/dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard.git
[submodule "deadgrep"]
	path = lib/deadgrep
	url = https://github.com/Wilfred/deadgrep.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl.git
[submodule "diredfl"]
	path = lib/diredfl
	url = https://github.com/purcell/diredfl.git
[submodule "dirvish"]
	path = lib/dirvish
	url = https://github.com/alexluigit/dirvish.git
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = https://github.com/seagle0128/doom-modeline.git
[submodule "eglot"]
	path = lib/eglot
	url = https://github.com/joaotavora/eglot.git
[submodule "elfeed"]
	path = lib/elfeed
	url = https://github.com/skeeto/elfeed.git
[submodule "elisp-demos"]
	path = lib/elisp-demos
	url = https://github.com/xuchunyang/elisp-demos.git
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = https://github.com/Wilfred/elisp-refs.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el.git
[submodule "gcmh"]
	path = lib/gcmh
	url = https://gitlab.com/koral/gcmh.git
[submodule "go-translate"]
	path = lib/go-translate
	url = https://github.com/lorniu/go-translate.git
[submodule "helpful"]
	path = lib/helpful
	url = https://github.com/Wilfred/helpful.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = https://github.com/tarsius/hl-todo.git
[submodule "imenu-list"]
	path = lib/imenu-list
	url = https://github.com/bmag/imenu-list.git
[submodule "kind-icon"]
	path = lib/kind-icon
	url = https://github.com/jdtsmith/kind-icon
[submodule "libgit"]
	path = lib/libgit
	url = https://github.com/magit/libegit2.git
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit.git
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "meow"]
	path = lib/meow
	url = https://github.com/meow-edit/meow.git
[submodule "minibuffer-modifier-keys"]
	path = lib/minibuffer-modifier-keys
	url = https://github.com/SpringHan/minibuffer-modifier-keys.git
[submodule "oj"]
	path = lib/oj
	url = https://github.com/conao3/oj.el.git
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "org-appear"]
	path = lib/org-appear
	url = https://github.com/awth13/org-appear.git
[submodule "org-download"]
	path = lib/org-download
	url = https://github.com/abo-abo/org-download.git
[submodule "org-elp"]
	path = lib/org-elp
	url = https://github.com/guanyilun/org-elp.git
[submodule "org-modern"]
	path = lib/org-modern
	url = https://github.com/minad/org-modern.git
[submodule "org-noter"]
	path = lib/org-noter
	url = https://github.com/weirdNox/org-noter.git
[submodule "org-pomodoro"]
	path = lib/org-pomodoro
	url = https://github.com/marcinkoziej/org-pomodoro.git
[submodule "org-present"]
	path = lib/org-present
	url = https://github.com/rlister/org-present.git
[submodule "org-roam"]
	path = lib/org-roam
	url = https://github.com/org-roam/org-roam.git
[submodule "ox-hugo"]
	path = lib/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo.git
[submodule "parsebib"]
	path = lib/parsebib
	url = https://github.com/joostkremers/parsebib.git
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = https://github.com/vedang/pdf-tools.git
[submodule "perspective"]
	path = lib/perspective
	url = https://github.com/nex3/perspective-el.git
[submodule "popper"]
	path = lib/popper
	url = https://github.com/karthink/popper.git
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "pyim"]
	path = lib/pyim
	url = https://github.com/tumashu/pyim.git
[submodule "queue"]
	path = lib/queue
	url = https://github.com/emacsmirror/queue.git
[submodule "quickrun"]
	path = lib/quickrun
	url = https://github.com/emacsorphanage/quickrun.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "restart-emacs"]
	path = lib/restart-emacs
	url = https://github.com/iqbalansari/restart-emacs.git
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el.git
[submodule "setup"]
	path = lib/setup
	url = https://github.com/emacsmirror/setup.git
[submodule "shrink-path"]
	path = lib/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el.git
[submodule "spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el.git
[submodule "string-inflection"]
	path = lib/string-inflection
	url = https://github.com/akicho8/string-inflection.git
[submodule "super-save"]
	path = lib/super-save
	url = https://github.com/bbatsov/super-save.git
[submodule "symbol-overlay"]
	path = lib/symbol-overlay
	url = https://github.com/wolray/symbol-overlay.git
[submodule "tablist"]
	path = lib/tablist
	url = https://github.com/politza/tablist.git
[submodule "undo-hl"]
	path = lib/undo-hl
	url = https://github.com/casouri/undo-hl
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico.git
	load-path = .
	load-path = extensions
[submodule "vertico-posframe"]
	path = lib/vertico-posframe
	url = https://github.com/tumashu/vertico-posframe.git
[submodule "vundo"]
	path = lib/vundo
	url = https://github.com/casouri/vundo
[submodule "wgrep"]
	path = lib/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "ws-butler"]
	path = lib/ws-butler
	url = https://github.com/lewang/ws-butler.git
[submodule "xr"]
	path = lib/xr
	url = https://github.com/mattiase/xr.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
