[submodule "ace-window"]
	path = lib/ace-window
	url = https://github.com/abo-abo/ace-window.git
[submodule "annotate"]
	path = lib/annotate
	url = https://github.com/bastibe/annotate.el.git
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy.git
[submodule "beancount"]
	path = lib/beancount
	url = https://github.com/beancount/beancount-mode.git
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
[submodule "burly"]
	path = lib/burly
	url = https://github.com/alphapapa/burly.el.git
[submodule "cape"]
	path = lib/cape
	url = https://github.com/minad/cape.git
[submodule "cdlatex"]
	path = lib/cdlatex
	url = https://github.com/cdominik/cdlatex.git
[submodule "citar"]
	path = lib/citar
	url = https://github.com/emacs-citar/citar.git
    no-byte-compile = citar-citeproc.el
[submodule "citar-denote"]
	path = lib/citar-denote
	url = https://github.com/pprevos/citar-denote.git
    no-byte-compile = minimum-config.el 
[submodule "citre"]
	path = lib/citre
	url = https://github.com/universal-ctags/citre.git
[submodule "cmake-mode"]
	path = lib/cmake-mode
	url = https://github.com/emacsmirror/cmake-mode.git
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult.git
[submodule "corfu"]
	path = lib/corfu
	url = https://github.com/minad/corfu.git
    load-path = .
    load-path = extensions
[submodule "csv-mode"]
	path = lib/csv-mode
	url = https://github.com/emacsmirror/csv-mode.git
[submodule "dape"]
	path = lib/dape
	url = https://github.com/svaante/dape.git
[submodule "darkroom"]
	path = lib/darkroom
	url = https://github.com/joaotavora/darkroom.git
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el.git
[submodule "dashboard"]
	path = lib/dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard.git
[submodule "denote"]
	path = lib/denote
	url = https://github.com/protesilaos/denote.git
[submodule "denote-explore"]
	path = lib/denote-explore
	url = https://github.com/pprevos/denote-explore.git
[submodule "denote-journal"]
	path = lib/denote-journal
	url = https://github.com/protesilaos/denote-journal.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl.git
[submodule "dired-hacks"]
	path = lib/dired-hacks
	url = https://github.com/Fuco1/dired-hacks.git
[submodule "dired-rsync"]
	path = lib/dired-rsync
	url = https://github.com/stsquad/dired-rsync.git
[submodule "dired-sidebar"]
	path = lib/dired-sidebar
	url = https://github.com/jojojames/dired-sidebar.git
[submodule "disaster"]
	path = lib/disaster
	url = https://github.com/jart/disaster.git
[submodule "eat"]
	path = lib/eat
	url = https://codeberg.org/akib/emacs-eat.git
[submodule "ebib"]
	path = lib/ebib
	url = https://github.com/joostkremers/ebib.git
[submodule "eglot-booster"]
	path = lib/eglot-booster
	url = https://github.com/jdtsmith/eglot-booster.git
[submodule "el-themes"]
	path = lib/el-themes
	url = https://github.com/protesilaos/ef-themes.git
[submodule "elisp-demos"]
	path = lib/elisp-demos
	url = https://github.com/xuchunyang/elisp-demos.git
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = https://github.com/Wilfred/elisp-refs.git
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark.git
[submodule "engrave-faces"]
	path = lib/engrave-faces
	url = https://code.tecosaur.net/tec/engrave-faces.git
[submodule "esup"]
	path = lib/esup
	url = https://github.com/jschaf/esup.git
[submodule "esxml"]
	path = lib/esxml
	url = https://github.com/tali713/esxml.git
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el.git
[submodule "format-all"]
	path = lib/format-all
	url = https://github.com/lassik/emacs-format-all-the-code.git
[submodule "geiser"]
	path = lib/geiser
	url = https://github.com/emacsmirror/geiser.git
[submodule "geiser-guile"]
	path = lib/geiser-guile
	url = https://github.com/emacsmirror/geiser-guile.git
[submodule "gptel"]
	path = lib/gptel
	url = https://github.com/karthink/gptel.git
[submodule "gptel-aibo"]
	path = lib/gptel-aibo
	url = https://github.com/dolmens/gptel-aibo.git
[submodule "gptel-quick"]
	path = lib/gptel-quick
	url = https://github.com/karthink/gptel-quick.git
[submodule "graphviz-dot-mode"]
	path = lib/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode.git
    no-byte-compile = company-graphviz-dot.el
[submodule "helpful"]
	path = lib/helpful
	url = https://github.com/Wilfred/helpful.git
[submodule "hide-mode-line"]
	path = lib/hide-mode-line
	url = https://github.com/hlissner/emacs-hide-mode-line.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = https://github.com/tarsius/hl-todo.git
[submodule "imenu-list"]
	path = lib/imenu-list
	url = https://github.com/nowislewis/imenu-list.git
[submodule "indent-bars"]
	path = lib/indent-bars
	url = https://github.com/jdtsmith/indent-bars.git
[submodule "inheritenv"]
	path = lib/inheritenv
	url = https://github.com/purcell/inheritenv.git
[submodule "kv"]
	path = lib/kv
	url = https://github.com/nicferrier/emacs-kv.git
[submodule "language-id"]
	path = lib/language-id
	url = https://github.com/lassik/emacs-language-id.git
[submodule "lisp-fsrs"]
	path = lib/lisp-fsrs
	url = https://github.com/open-spaced-repetition/lisp-fsrs.git
[submodule "llama"]
	path = lib/llama
	url = https://github.com/tarsius/llama.git
[submodule "lua-mode"]
	path = lib/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "macher"]
	path = lib/macher
	url = https://github.com/kmontag/macher.git
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "mcp"]
	path = lib/mcp
	url = https://github.com/lizqwerscott/mcp.el.git
[submodule "meow"]
	path = lib/meow
	url = https://github.com/meow-edit/meow.git
[submodule "mini-echo"]
	path = lib/mini-echo
	url = https://github.com/liuyinz/mini-echo.el.git
[submodule "nerd-icons"]
	path = lib/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el.git
[submodule "nerd-icons-completion"]
	path = lib/nerd-icons-completion
	url = https://github.com/rainstormstudio/nerd-icons-completion.git
[submodule "nerd-icons-corfu"]
	path = lib/nerd-icons-corfu
	url = https://github.com/LuigiPiucco/nerd-icons-corfu.git
[submodule "nerd-icons-dired"]
	path = lib/nerd-icons-dired
	url = https://github.com/rainstormstudio/nerd-icons-dired.git
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering.git
[submodule "nov"]
	path = lib/nov
	url = https://depp.brause.cc/nov.el.git
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "org-appear"]
	path = lib/org-appear
	url = https://github.com/awth13/org-appear.git
[submodule "org-elp"]
	path = lib/org-elp
	url = https://github.com/guanyilun/org-elp.git
[submodule "org-present"]
	path = lib/org-present
	url = https://github.com/rlister/org-present.git
[submodule "org-srs"]
	path = lib/org-srs
	url = https://github.com/bohonghuang/org-srs.git
[submodule "org-visual-outline"]
	path = lib/org-visual-outline
	url = https://github.com/legalnonsense/org-visual-outline.git
[submodule "ox-hugo"]
	path = lib/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo.git
[submodule "parsebib"]
	path = lib/parsebib
	url = https://github.com/joostkremers/parsebib.git
[submodule "pinyinlib"]
	path = lib/pinyinlib
	url = https://github.com/nowislewis/pinyinlib.el.git
[submodule "popper"]
	path = lib/popper
	url = https://github.com/karthink/popper.git
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "project-rootfile"]
	path = lib/project-rootfile
	url = https://github.com/buzztaiki/project-rootfile.el.git
[submodule "pulsar"]
	path = lib/pulsar
    url = https://github.com/protesilaos/pulsar.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "reader"]
	path = lib/reader
	url = https://codeberg.org/divyaranjan/emacs-reader.git
    build-step = make all
    build-step = borg-compile
[submodule "rg"]
	path = lib/rg
	url = https://github.com/dajva/rg.el.git
[submodule "rime"]
	path = lib/rime
	url = https://github.com/DogLooksGood/emacs-rime.git
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el.git
[submodule "setup"]
	path = lib/setup
	url = https://github.com/emacsmirror/setup
[submodule "tabspaces"]
	path = lib/tabspaces
	url = https://github.com/mclear-tools/tabspaces.git
[submodule "toc-org"]
	path = lib/toc-org
	url = https://github.com/snosov1/toc-org.git
[submodule "tomelr"]
	path = lib/tomelr
	url = https://github.com/kaushalmodi/tomelr.git
[submodule "treesit-auto"]
	path = lib/treesit-auto
	url = https://github.com/renzmann/treesit-auto.git
[submodule "uniline"]
	path = lib/uniline
	url = https://github.com/tbanel/uniline.git
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico.git
    load-path = .
    load-path = extensions
[submodule "vundo"]
	path = lib/vundo
	url = https://github.com/casouri/vundo.git
[submodule "wgrep"]
	path = lib/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
    no-byte-compile = wgrep-subtest.el
    no-byte-compile = wgrep-ag.el
[submodule "whisper"]
	path = lib/whisper
	url = https://github.com/natrys/whisper.el.git
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "ws-butler"]
	path = lib/ws-butler
	url = https://github.com/lewang/ws-butler.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "ztree"]
	path = lib/ztree
	url = https://codeberg.org/fourier/ztree.git
